*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container-master{
    background: rgb(66,148,136);
    background: linear-gradient(180deg, rgba(66,148,136,1) 20%, #ccc 20%);
    background-repeat:no-repeat;
    height: 100vh;
    padding: 30px 30px;
}

/* container-layout */
.container-layout{
    border: 1px solid black;
    height: 100%;
    
}
/* container-layout /// aside-bar-left */
#user-space {
    height: 70px;
    background-color: #ddd;
}

#user img{
    width: 50px;
    border-radius: 50px;
}
#user-settings i {
    font-size: 25px;
}
