
p , h6{
    margin: 0;
}
#container-master{
    background: rgb(66,148,136);
    background: linear-gradient(180deg, rgba(66,148,136,1) 20%, #ccc 20%);
    background-repeat:no-repeat;
    height: 100vh;
    padding: 30px 30px;
}

/* container-layout */
.container-layout{
    height: 100%;  
}
.container-layout>.row{
    height: 100%;  
}

/* container-layout /// aside-bar-left ///user-space */
#user-space {
    flex-basis: 70px;
    flex-shrink: 0;
    background-color: #ddd;
}
#user img{
    width: 50px;
    border-radius: 50px;
}
#user-settings i {
    color: gray;
    font-size: 25px;
}

/* container-layout /// aside-bar-left ///notify-allert */
#notify-allert{
    flex-basis: 70px;
    flex-shrink: 0;
    background: aqua;
}
.notify-icon{
    height: 50px;
    flex-basis: 75px;
}
.notify-icon .icon{
    color: lightblue;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.notify-icon .icon i{
    font-size: 25px;
}
/* container-layout /// aside-bar-left ///contacts-space  */
#contacts-space{
    background-color: #fff;
}
.search-contacts {
    border: .5px solid rgb(231, 231, 231);
    flex-basis: 25px;
    margin: 15px 15px ;
}
.search-contacts input{
    border: none;
}
.search-icon{
    flex-basis: 30px;
    flex-shrink: 0;
    color: grey;
}
#contacts-container{
    background-color: #fff;
    overflow: auto;
    flex-basis: calc(100vh - 240px);
}
.contact{
    margin: 15px 0px;
}
.avatar-contact{
    width: 50px;
    display: inline-block;
}
.avatar-contact img{
    width: 100%;
    border-radius: 50px;
}
/* container-layout /// aside-bar-right ///last-contact-selected*/
#last-contact-selected{
    flex-basis: 70px;
    flex-shrink: 0;
    background-color: #ddd;
}
#last-contact img{
    width: 50px;
    border-radius: 50px;
}
#last-contact-specs{
    margin-left: 15px;
}
#chat-setting > i {
    color: grey;
    margin-right: 10px;
    font-size: 25px;
}
/* /* container-layout /// aside-bar-right ///chat*/ 
#chat{
    background-image: url(../img/mine.jpg);
}

/* /* container-layout /// aside-bar-right ///input-chat*/ 
#input-chat{
    flex-basis: 70px;
    flex-shrink: 0; 
    background-color: #eee;

}
#send-icon , #send-vocal {
    flex-basis: 40px;
    flex-shrink: 0px;
    font-size: 25px;
    color: grey;

}
#write-text{
    height: 80%;
    margin: 5px, 15px;
    background-color: white;
    border-radius: 5px;

}
#write-text input{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    border: none;
}